body {
  background-image: url("images/pexels-pixabay-531880.jpg") ;
    margin: 0px;
  
    /* background-position: center; */
    /* padding: 25px; */
    background-size: auto;
  
  }

  .head{

    background-color: rgba(59, 36, 35,0.7);

    
    

  
  }
  

  header {
    margin-left: 20px;

    /* background-color: rgba(59, 36, 35,0.4); */
    /* font-style: ; */
    
    /* height: 20px; */
    /* padding-left: 20px; */
    padding: 13px;
    color: white; 
}

  .home {
    
    background-color: rgba(41, 38, 80, 0.5);
    width: 90% auto;
    height: 90% auto;
    margin: 20%  ;
    padding: 40px;
    color: white ;
    box-shadow: 5px 5px 10px rgb(20, 30, 63);
  }

  a:link, a:visited {
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

  border-radius: 4px;
  }
  a:hover, a:active {
    background-color: rgba(184, 184, 184,0.4);
    color: white;
    border-radius: 10px;
  }

  @media screen and (max-width: 700px) {
    #form {
      width: 65%;
      padding: 40px;
    }
  }